@model IEnumerable<MVCcafe_web.Models.admin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.aName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aPwd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.aName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aPwd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.adminID }) |
            @Html.ActionLink("Details", "Details", new { id=item.adminID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.adminID })
        </td>
    </tr>
}

</table>
