@model MVC_web.Models.DB.Models.OrderViewModel

@{
    ViewBag.Title = "Updated";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cart = MVC_web.Models.DB.Models.cartFunction.GetCurrCart();
}

<h2 class="text-center">Your order item</h2>
<h4 class="text-center text-danger">The ordered item is complete remove and this order ID is deleted.</h4>
<hr />

<table class="table">
    <thead>
        <tr>
            <td>item</td>
            <td>Quantity</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var ordered in Model.OrderItemList)
        {
            <tr>
                <td>@ordered.iName</td>
                <td>@ordered.qty</td>
                <td>@ordered.iprice</td>
            </tr>
        }


        <tr>
            <td class="text-warning">New item</td>
            <td class="text-warning">Quanaty</td>
            <td class="text-warning">Price</td>
        </tr>

        @foreach (var item in cart)
        {
            if (cart.Count > 0)
            {
                <tr>
                    <td>@item.iName</td>
                    <td>@item.qty</td>
                    <td>@item.iprice</td>
                </tr>
            }
        }

        <tr>
            <td colspan="2">Total Amount</td>
            <td>@cart.TotalAmount</td>
        </tr>
    </tbody>
</table>
<hr />

<div class="col-md-offset-2 ">
    @Html.ActionLink("Return to Home Page", "Index", "Home", "", new { @class = "btn btn-sm btn-primary btn-block" })
</div>
