@model MVC_web.Models.DB.Models.OrderViewModel

@{
    ViewBag.Title = "Updated";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cart = MVC_web.Models.DB.Models.cartFunction.GetCurrCart();
}

<h2 class="text-center">Check / Update your item</h2>
<h5 class="text-info">Here is the ordered item for your order ID.</h5>
<h6 class="text-info">New item will be display seperately.</h6>


<table class="table">
    <thead>
        <tr>
            <td>item</td>
            <td>Quantity</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var ordered in Model.OrderItemList)
        {
            <tr>
                <td>@ordered.iName</td>
                <td>@ordered.qty</td>
                <td>@ordered.iprice</td>
            </tr>
        }


        <tr>
            <td class="text-warning">New item</td>
            <td class="text-warning">Quanaty</td>
            <td class="text-warning">Price</td>
        </tr>

        @foreach (var item in cart)
        {
            if (cart.Count > 0)
            {
                <tr>
                    <td>@item.iName</td>
                    <td>@item.qty</td>
                    <td>@item.iprice</td>
                </tr>
            }
        }

        <tr>
            <td colspan="2">Total Amount</td>
            <td>@cart.TotalAmount</td>
        </tr>
    </tbody>
</table>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    
        <div class="col-md-offset-2 ">
            @Html.ActionLink("Return to Home Page", "Index","Home","", new { @class = "btn btn-sm btn-primary btn-block" })
        </div>
}