@{
    var cartNow = MVC_web.Models.DB.Models.cartFunction.GetCurrCart();
}

<a id="CartMenu" class="dropdown-toggle" data-toggle="dropdown">
    @if (cartNow.Count > 0)
    {
        @String.Format("Total : {0} / ({1}) in cart", cartNow.TotalAmount, cartNow.Count)
        <span class="caret"></span>
    }
    else
    {
        @String.Format("Nothing in cart")
        <span class="caret"></span>
    }
</a>

<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="CartMenu">

    @if (cartNow.Count > 0)
    {
        foreach (var Citem in cartNow)
        {
            <li class="dropdown-item">
                <span class="btn btn-warning btn-sm" onclick="RemoveFromCart('@Citem.iID')">
                    remove
                </span>   
                <span class="h6">
                    | @Citem.iName , $ @Citem.iprice x @Citem.qty
                </span>
            </li>

        }
        <li class="dropdown-divider"></li>
        <li>
            <div class="col-xs-12">
                <a onclick="" href="@Url.Action("Index","Order",new { })" class="btn btn-success btn-block btn-lg" role="button">
                    Process payment
                </a>
                <a onclick="ClearCart()" href="javascript:void(0);" class="btn btn-danger btn-block btn-sm" role="button">
                    Clear cart
                </a>
            </div>
        </li>
    }
    else
    {
        <li class="dropdown-item"> Nothing in cart</li>
    }



</ul>

