<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tea Room - Bouquet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">

        $(document).ready(function () {
            console.log("ready!");
        });

        function AddToCart(itemID) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddToCart", "Cart")',
                data: { id: itemID }
            })
                .done(function (msg) {
                    $('div#Cart').html(msg);
                });
        }

        function RemoveFromCart(itemID) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("RemoveFromCart", "Cart")',
                data: { id: itemID }
            })
                .done(function (msg) {
                    $('div#Cart').html(msg);
                });
        }

        function ClearCart() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ClearCart", "Cart")',
                data: {}
            })
            .done(function (msg) {
                $('div#Cart').html(msg);
            });
        }
    </script>

    <style>
        .carousel-inner > .item > img, .carousel-inner > .item > a > img {
            display: block;
            height: auto;
            line-height: 1;
            margin: 0 auto;
            max-width: 1920px;
        }
    .dropdown-menu {
    width: 400px;
    }
        </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <h4 class="navbar-brand" >Tea-room "Bouquet"</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link h5 text-primary" })
                @Html.ActionLink("Place your Order!", "Order", "Home", null, new { @class = "nav-link h5 text-success" })
                @Html.ActionLink("Update Order", "Update", "Order", null, new { @class = "nav-link h5 text-warning" })
                @Html.ActionLink("About US", "About", "Home", null, new { @class = "nav-link h5" })

            </ul>
            <div id="Cart" class="dropdown dropdown-menu-left btn btn-success btn-sm">@Html.Partial("_CartPartial")</div>

        </div>
    </nav>
    <br />
    <br />
    <br />
    <br />
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
        @Html.ActionLink("© Tea-room Bouquet, 2020", "Index", "Home", null, new { @class = "navbar-brand" })
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">


            </ul>
            
            @if (Session["Username"] != null)
            {<span class="text-info col-sm-2">
                    Welcome : @Session["Username"]
                </span>
                <span>
                    @Html.ActionLink("Function menu", "Index", "Admin", null, new { @class = "btn btn-primary btn-sm btn-block" })
                </span>
            }
            <div class="col-sm-2">
                @if (Session["Username"] != null)
                {
                    @Html.ActionLink("Logout", "Logout", "Admin", null, new { @class = "btn btn-warning btn-sm btn-block" })
                }
                else
                {
                    @Html.ActionLink("Management portal", "Login", "Admin", null, new { @class = "btn btn-info btn-sm btn-block" })
                }
            </div>
        </div>
    </nav>



    <div class="container body-content">
        @RenderBody()
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
