@model IEnumerable<MVC_Cafe_web.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cphone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cphone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.cusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cusID })
        </td>
    </tr>
}

</table>
